{% load static %}

{% include 'kurumsalysite/components/header.html' %}


    <!-- Header -->
    <header class="header pb-9 pt-10" style="background-image: url('{% static 'kurumsalysite/img/thumb/14.jpg' %}')">
        <div class="overlay opacity-75" style="background-image: linear-gradient(to top, #989898 0%, #4c8bb1 100%);"></div>

        <canvas class="constellation" data-radius="0"></canvas>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 style="color: white" class="fw-200 mb-6">Hakkımızda</h1>
            <p style="color : white;" class="lead-2">Avukatlık Büronuza Özel Kurumsal Web Sitesi, Kurumsal Kimlik ve Dahası</p>

            <hr class="w-50px ml-0">

          </div>
        </div>
      </div>
    </header><!-- /.header -->



    <!-- Main Content -->
    <main class="main-content">



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Our Mission
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-8 mx-auto">
              <h2>Biz Kimiz?</h2>
              <p class="lead">KurumsaLy avukatlık büronuzun ihtiyaçlarına göre tam profesyonel tasarım ve yönetici paneli ile sizin avukatlık kurumsal web sitesi ihtiyaçlarınıza çözüm üretmektedir. Bu hizmetleri en güvenilir ve en hızlı şekilde avukatlara sunmaktadır.</p>
              <p>Temel amacımız web sitesi tasarımında hukuk büronuzu diğer web sitelerinden ayıran; bakıldığında parmak ile gösterilecek bir hizmet sunmaktadır. Bu sayede, avukatlarımız herkese gösterebileceği bir web sitesi, kurumsal logo, profesyonel fotoğraflara sahip olmaktadır ve bununla birlikte avukatlar KurumsaLy ile daha geniş müvekkil portföyüne ulaşıp hem de bilinirlik kazanıp daha profesyonel bir yapı ile ticari faaliyetlerini sürdürebilmektedir.</p>
              <p>KurumsaLy'i diğer kuruluşlardan ayıran bir başka özellik ise; avukat web sitenizi yaptık işimiz bitti değil, ortaklığımızın devam ettiği sitenizin bakımları ve sosyal medyanızın yönetimi için 7/24 hizmet sunan uzman ekibimizin varlığıdır.</p>

            </div>

          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Numbers
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">
          <div class="row gap-y">

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="8"></h4>
                </div>

                <div class="col-6">
                  <p class="small text-uppercase ls-2 mb-2">Yıllık Deneyim</p>
                  <p><i class="icon-briefcase lead-4 mb-0"></i></p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="10"></h4>
                </div>

                <div class="col-6">
                  <p class="small ls-2 mb-2">KİŞİLİK EKİP</p>
                  <p><i class="icon-profile-male lead-4 mb-0"></i></p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="100" data-prefix="%"></h4>
                </div>

                <div class="col-6">
                  <p class="small ls-2 mb-2">MEMNUNİYET</p>
                  <p><i class="icon-happy lead-4 mb-0"></i></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Services
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Dijital DÜnyadaki Yüzünüz</small>
            <h2>Ne Yapıyoruz</h2>
            <hr>
            <p class="lead">Dijital Dünyadaki İhtiyaçlarınız Özelinde Yanınızda Olmaktan Gurur Duyuyoruz.</p>
          </header>


          <div class="row gap-y">

            <div class="col-md-6 col-xl-4">
              <div class="text-center">
                <p class="mb-6"><i class="icon-tools text-primary lead-8"></i></p>
                <h5><strong>Kurumsal Kimlik Çalışması</strong></h5>
                <p>Avukatlara özel logo, kartvizit, antetli kağıt ve kurumsal kimliğinizi oluşturan dahası için şık, kurumsal tasarımlar</p>
              </div>
            </div>


            <div class="col-md-6 col-xl-4">
              <div class="text-center">
                <p class="mb-6"><i class="icon-browser text-primary lead-8"></i></p>
                <h5><strong>Web Sitesi</strong></h5>
                <p>Hukuk Sektörünün ihtiyaçlarına uygun ve tarzınız göz önüne alınarak tasarlanmış ve kodlanmış kurumsal web siteniz</p>
              </div>
            </div>


            <div class="col-md-6 col-xl-4">
              <div class="text-center">
                <p class="mb-6"><i class="icon-mobile text-primary lead-8"></i></p>
                <h5><strong>Mobil Uyumluluk</strong></h5>
                <p>Tam mobil uyumlu, size özel tasarlanmış ve kodlanmış; kurumsal web siteniz ile tanışın.</p>
              </div>
            </div>

          </div>


        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Testimonial
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section py-9 shadow-8" style="background-image: url('{% static 'kurumsalysite/img/hakkimizdaresim.jpeg' %}')">
        <div class="overlay opacity-50" style="background-image: linear-gradient(90deg, #fff 0%, transparent 100%);"></div>
        <div class="container">

          <div class="row">
            <div class="col-10 col-md-7 col-xl-5">
              <div class="section-dialog shadow-4">
                <h5 class="fw-500">Etkili Tasarım ve Yazılım Hizmeti </h5>
                <blockquote class="blockquote text-left lead-1 mb-0 mt-5">
                  <p>Yalın, sade, kurumsal yapımıza yakışır ve en önemlisi anlaşılır web sitemiz ve kurumsal kimlik paketinden çok memnun kaldık.</p>
                  <footer>Tanrıkulu Hukuk, <cite title="Source Title">Av. F. Ruhsar Tanrıkulu</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>

        </div>
      </section>



              <section class="section py-7 shadow-8">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-md-6 text-center text-md-left">
              <h3>Size Uygun Paketi Öğrenmek İçin Hemen Arayın.</h3>
              <p>KurumsaLy ile avukatlık kurumsal kimliğinize ve kurumsal avukatlık web sitenize hemen sahip olun</p>
            </div>

            <div class="col-md-auto ml-auto text-center text-md-right">
              <div class="form-inline justify-content-center">

                <a class="btn btn-lg btn-outline-primary mb-2" href="tel:+008508408276">Hemen ara</a>
              </div>
            </div>
          </div>
        </div>
      </section>






{% include 'kurumsalysite/components/footer.html' %}