{% load static %}

{% include 'kurumsalysite/components/header.html' %}


    <!-- Header -->
    <header class="header pb-9 pt-10" style="background-image: url('{% static 'kurumsalysite/img/yazilimsurec.jpeg' %}')">
        <div class="overlay opacity-75" style="background-image: linear-gradient(to top, #989898 0%, #4c8bb1 100%);"></div>
        <canvas class="constellation" data-radius="0"></canvas>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 style="color: white" class="fw-200 mb-6">Hizmetlerimiz</h1>
            <p style="color : white;" class="lead-2">Firmanıza Neler Sunuyoruz?</p>

            <hr class="w-50px ml-0">

          </div>
        </div>
      </div>
    </header><!-- /.header -->


          <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Hizmetler</small>
            <h2>Hizmetlerimiz </h2>
            <hr>
            <p class="lead">KurumsaLy ile dijitalde yerinizi en önlerden alın.</p>
          </header>


          <div class="row">

            <div class="col-md-6 col-xl-4 ml-auto">
              <h5><a href="#">Profesyonel Web Sitesi</a></h5>
              <p class="small opacity-50">Mobil Uyumlu, Yalın</p>
            </div>

            <div class="col-md-6">
              <p>
                  KurumsaLy firmalara, ihtiyaçları doğrultusunda son teknoloji, yüksek güvenlikli sektörel ihtiyaçlarınızı karşılayabileceğiniz, özgün tasarımlı web siteleri sunar.
              </p>

              <p>
                  Firmalar için web sitesi geliştiren KurumsaLy sayesinde,  profesyonel yönetim panelli sitenizde her şeyi kontrol edebileceksiniz. Çoklu dil desteğine sahip sitelerimiz sayesinde, dünyanın her yerinden ulaşılabilir olun.
              </p>
              <br><br>
            </div>


            <div class="col-md-6 col-xl-4 ml-auto">
              <h5><a href="#">SEO (Arama Motoru Optimizasyonu) Çalışması</a></h5>
              <p class="small opacity-50">Google, Yandex, Bing</p>
            </div>

            <div class="col-md-6">
              <p>Başlangıç SEO çalışmamız sayesinde, isminiz yazıldığında Google’da üst sıralarda yer alın.</p>
                <p>Bütçenize göre oluşturulan profesyonel SEO çalışmamız ile belirlediğimiz anahtar kelimelerde üst sıralarda yer alın. Üst sıralarda çıksam ne olacak demeyin; aynı zamanda telefonunuzun kaç kere siteniz üzerinden arandığına kadar raporlamalara sahip olun.</p>
              <br><br>
            </div>


            <div class="col-md-6 col-xl-4 ml-auto">
              <h5><a href="#">Kurumsal Logo Tasarımı</a></h5>
              <p class="small opacity-50">PhotoShop, İllustrator</p>
            </div>

            <div class="col-md-6">
              <p>KurumsaLy ile istekleriniz doğrultusunda kendi zevklerinize göre ve uzman ekibimizin katkısıyla kurumsal kimliğine uygun logolar tasarlıyoruz.</p>
              <br><br>
            </div>

            <div class="col-md-6 col-xl-4 ml-auto">
              <h5><a href="#">SMS Paketi</a></h5>
              <p class="small opacity-50">Çoklu SMS</p>
            </div>

            <div class="col-md-6">
              <p>KurumsaLy ile istediğiniz sayıda SMS’i temin edip, özel günlerde müvekkillerinize otomatik mesaj gönderecek sistemi, web siteniz üzerindeki yönetim paneli içerisine kuruyoruz.</p>
              <br><br>
            </div>


            <div class="col-md-6 col-xl-4 ml-auto">
              <h5><a href="#">Kurumsal Mail</a></h5>
              <p class="small opacity-50">Gmail, Yandex Mail</p>
            </div>

            <div class="col-md-6">
              <p>KurumsaLy ile kurumsal maillerinizi (adsoyad@firmadı.com şeklinde ) alıyor ve elektronik cihazlarınıza entegrasyonunu sağlıyoruz.</p>
              <br><br>
            </div>


            <div class="col-md-6 col-xl-4 ml-auto">
              <h5><a href="#">Telesekreter</a></h5>
              <p class="small opacity-50">Sanal Sekreter</p>
            </div>

            <div class="col-md-6">
              <p>0216 veya 0850’li sabit hat numaranızı alıyor ve cep telefonunuza yönlendiriyoruz. Ayrıca web sitenizin yönetici panelinden kimlerin aradığını takip edebiliyorsunuz. Bu sabit hatlarınızı arayan müşterilerinize ve iş partnerlerinize sanal telesekreter dinletebiliyorsunuz ve telesekreterin içeriğini de kendiniz özgün olarak belirleyebiliyorsunuz.</p>
              <br><br>
            </div>


            <div class="col-md-6 col-xl-4 ml-auto">
              <h5><a href="#">Web Sitesi Bakım Hizmeti</a></h5>
              <p class="small opacity-50">Sürekli Hizmet</p>
            </div>

            <div class="col-md-6">
              <p>KurumsaLy ile sitenizi yaptık diyip bir daha bakmamazlık etmiyoruz; ilk yıl ücretsiz olarak web sitesi bakımınızı gerçekleştiriyoruz.</p>
              <br><br>
            </div>


          </div>

        </div>
      </section>



      <section class="section py-8" style="background-image: url('{% static 'kurumsalysite/img/hizmetleralt.jpeg' %}')">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-xl-7 mx-auto">

              <div class="section-dialog bg-primary text-white shadow-6">
                <h4 class="text-center">Hemen İletişime Geç</h4>
                <br><br>
                  <div class="d-flex justify-content-center">
                    <span class="input-group-append">
                      <button class="btn btn-glass btn-light" type="button"><a href="tel:+908508408276">Hemen Ara </a><i class="ti-arrow-right fs-9 ml-2"></i></button>
                    </span>
                  </div>
              </div>

            </div>
          </div>
        </div>
      </section>

<hr>


{% include 'kurumsalysite/components/footer.html' %}