{% load static %}

{% include 'kurumsalysite/components/header.html' %}

<!-- Header -->
<header class="header text-white h-fullscreen overflow-hidden" style="background-image: linear-gradient(-45deg, #9DCFE1 0%, #3E424D 100%);">
  <canvas class="constellation div-only-mobile" data-radius="0"></canvas>
  <div class="container position-static">
    <div class="row align-items-center h-100">

      <div class="col-lg-7">
        <h1 class="display-4 fw-100">Avukatlar İçin <span class="fw-300 pl-2 text-primary" data-typing="Müvekkil Takibi, Müvekkile Ulaşım, Kaliteli Hizmet, Müvekkille Bağlantı" data-type-speed="80"></span></h1>
        <p class="lead mt-5 mb-7 mb-md-9 w-80"><strong>Müvekkilim Uygulaması</strong> ile avukatların müvekkillerine sunduğu portal sayesinde; davaları takip etmek çok kolay, avukata gönderilen dosyalar tek bir yerde ve canlı chat ile hukuk bürosuna ulaşım her daim mümkün</p>

        <a style="text-transform: None" class="btn btn-xl btn-round btn-outline-light w-200 px-6" href="#">İletişime Geç</a>
      </div>

      <div class="col-lg-5 d-none d-lg-block">
      </div>

    </div>

    <div class="d-none d-lg-block sample-blocks">
      <a href="#" target="_blank">
        <img width="300" class="shadow-6" src="{% static 'kurumsalysite/img/muvekkiluyg.png' %}" alt="..." data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
      </a>

      <a href="#" target="_blank">
        <img width="300" class="shadow-6" src="{% static 'kurumsalysite/img/muvekkilgiris.png' %}" alt="..." data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
      </a>

      <a href="#" target="_blank">
        <img width="250" class="shadow-6" src="{% static 'kurumsalysite/img/muvekkilorta.png' %}" alt="..." data-aos="fade-up" data-aos-delay="400" data-aos-offset="0">
      </a>

      <a href="#" target="_blank">
        <img width="250" class="shadow-6" src="{% static 'kurumsalysite/img/muvekkilalt.png' %}" alt="..." data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
      </a>

      <a href="#" target="_blank">
        <img width="200" class="shadow-6" src="{% static 'kurumsalysite/img/muvekkildosya.png' %}" alt="..." data-aos="fade-up" data-aos-delay="800" data-aos-offset="0">
      </a>

      <a href="#" target="_blank">
        <img width="220" class="shadow-6" src="{% static 'kurumsalysite/img/dosyagonder.png' %}" alt="..." data-aos="fade-up" data-aos-delay="1000" data-aos-offset="0">
      </a>

      <a href="#" target="_blank">
        <img width="200" class="shadow-6" src="{% static 'kurumsalysite/img/dosyadetay.png' %}" alt="..." data-aos="fade-up" data-aos-delay="1200" data-aos-offset="0">
      </a>

      <a href="#" target="_blank">
        <img width="180" class="shadow-6" src="{% static 'kurumsalysite/img/avukatgirisi.png' %}" alt="..." data-aos="fade-up" data-aos-delay="1400" data-aos-offset="0">
      </a>

    </div>

  </div>
</header><!-- /.header -->





         <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Müvekkİl</small>
            <h2>Müvekkilim Uygulaması</h2>
            <hr>
            <p class="lead">Müvekkilim uygulaması ile avukatlar müvekkillerine sunacakları panel sayesinde sürekli telefon ile aranma derdinden kurtuluyor ve kurumsal müşterilerine daha kaliteli hizmet verme şansı yakalıyorlar.</p>
          </header>


          <div class="row text-center">
            <div class="col-md-10 mx-auto">
              <div class="row gap-y">


                <div class="col-md-6">
                  <p><i class="icon-happy text-lighter lead-6 mb-5"></i></p>
                  <h5>Mutlu Müvekkiller</h5>
                  <p>Müvekkil uygulaması ile müvekkiller davalarında/hukuki danışmanlık süreçlerinde sürekli bilgi alabilir ve avukatlarını sürekli arayıp 'Dosyam ne oldu?' demek zorunda kalmazlar. Dosya detaylarını ve süreçlerini detaylı olarak takip edebilen müvekkiller daha kurumsal hizmet almış olurlar.</p>
                </div>


                <div class="col-md-6">
                  <p><i class="icon-newspaper text-lighter lead-6 mb-5"></i></p>
                  <h5>Sürekli Bilgi Paylaşımı</h5>
                  <p>Müvekkil uygulamasındaki canlı sohbet penceresi sayesinde; müvekkiller aklına takılanları yazıp, hukuk bürosundaki ekip üyelerinden sürekli bilgi edinebilirler. Bu sayede yalnızca uygun olan avukatların cevaplayacağı ve müvekkillerin de ilgisiz kalmayacağı bir hizmet anlayışı oluşturulmuş olur.</p>
                </div>


                <div class="col-md-6">
                  <p><i class="icon-notebook text-lighter lead-6 mb-5"></i></p>
                  <h5>Avukata Dosya Gönderimi</h5>
                  <p>Müvekkile sunulan panel üzerinden müvekkiller avukatlarına istenilen dosyaları hızlıca gönderebilir ve ilgili müvekkil kaydı içerisinde tutulan dosyalar sayesinde; avukat açısından da -mail veya mesajlaşma uygulamalarından gönderilen dosyalarda olduğu gibi- karışıklıklar yaşanmaz</p>
                </div>


                <div class="col-md-6">
                  <p><i class="icon-globe text-lighter lead-6 mb-5"></i></p>
                  <h5>Web Uygulaması</h5>
                  <p>Müvekkil uygulaması avukatların kurumsal web sitelerine bağlı olarak geliştirilen ve bulut sunucu üzerinden çalışan bir internet uygulamasıdır. Web uygulaması olması nedeni ile uygulamanın yönetim paneline avukat ve müvekkil her zaman her yerden erişebilme imkanına sahiptir.</p>
                </div>


              </div>
                <br>
                <hr>
                <div class="embed-responsive embed-responsive-16by9">
<iframe width="700" height="450" src="https://www.youtube.com/embed/3cR1GmFoGe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
                </div>
          </div>

        </div>
      </section>







{% include 'kurumsalysite/components/footer.html' %}